@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4 {
  font-family: 'Maven Pro', sans-serif;
}

li {
  list-style: none;
}

body {
  max-width: max-content;
  margin: auto;
  background: #eee;
}

.App {
  max-width: 1200px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}

p {
  font-weight: 400;
  margin-bottom: 10px;
}

h1 {
  font-weight: 700;
  margin-bottom: 10px;
}

h2 {
  font-weight: 700;
  margin-bottom: 10px;
}

h3 {
  font-size: medium;
  margin-bottom: 10px;
}

h4 {
  font-size: small;
}

.postContainer { 
  display: flex;
  flex-wrap: wrap;
}

.posts {
  align-items: stretch;
  padding: 10px;
  flex-grow: 1;
  flex-basis: 250px;
  background: #fff;
  margin: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.tags {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.tags h4 {
  background-color: aqua;
  padding: 3px 6px 3px 6px;
  margin: 3px;
  border-radius: 3px;
}

.label {
  margin: 10px;
  width: 100%;
}
